{
    "root": true,
    "env": {
      "browser": true,
      "node": true
    },
    "extends": [
      "eslint:recommended",
      "plugin:vue/vue3-recommended",
      "plugin:@typescript-eslint/recommended",
      "@nuxt/eslint-config"
    ],
    "plugins": [
      "vue",
      "@typescript-eslint"
    ],
    "rules": {
      // Add your custom rules here
    }
  }
  